.top-brand-main{
    width: 90%;
    margin: auto;
}
.brand-single-title{
    font-size: 13px;
    font-weight: 300;
    font-family: sans-serif;
    color: orangered;
    margin-top: 100px;
    text-align: center;
}
.brand-entry-title{
    font-size: 45px;
    text-align: center;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 30px;
}





@media only screen and (max-width: 575px){
    .brand-entry-title{
        font-size: 25px;
    }
}